<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>House Price Deciding Factors</title>
    <link rel="stylesheet" href="/static/main.css" />
</head>

<body>
    <form action="/prediction" method="POST">
        <div id="d1"> RAD : <input class="in" id="rad" type="text" name="RAD" placeholder="RAD" /></div>
        <div id="d2"> DIS : <input class="in" id="dis" type="text" name="DIS" placeholder="DIS" /></div><br>
        <div id="d3"> RM : <input class="in" id="rm" type="text" name="RM" placeholder="RM" /></div>
        <div id="d4"> B : <input class="in" id="b" type="text" name="B" placeholder="B" /></div><br>
        <div id="d5"> CHAS : <input class="in" id="chas" type="text" name="CHAS" placeholder="CHAS" /></div>
        <div id="d6"> PTRATIO : <input class="in" id="ptr" type="text" name="PTRATIO" placeholder="PTRATIO" /></div><br>
        <div id="d7"> LSTAT : <input class="in" id="lst" type="text" name="LSTAT" placeholder="LSTAT" /></div>
        <div id="d8"> <input class="in" id="sub" type="submit" value="Submit" /></div>
    </form>
</body>

</html>